#loadingContainer {
    padding-top: 15%;
    padding-left: 45%;
    color: rgba(255, 255, 255, 0.2);
    font-size: x-large;
}

#circuitContainer {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

#circuitImg {
    margin-bottom: 4rem;
    gap: 5rem;
}