#loadingContainer {
    padding-top: 15%;
    padding-left: 45%;
    color: rgba(255, 255, 255, 0.2);
    font-size: x-large;
}

#circuitContainer {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

#circuitImg {
    margin-bottom: 4rem;
    gap: 5rem;
}

#circuit img {
    width: 700px;
}

@media only screen and (max-width: 1500px) {
    #sectionTitle {
        margin-right: 2rem;
        margin-left: 2rem;
        font-size: 50px;
    }
    
    #circuitImg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #circuit img {
        width: 90%;
    }
}