#allDriverContainer {
  background-color: white;
}

#driverLoader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #ff3d00 transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#backButton {
  position: fixed;
  margin-top: 2rem;
  margin-left: 3rem;
  font-size: xx-large;
  color: white;
  background-color: transparent;
  border: 0px;
  transition: color ease 0.2s;
}

#backButton:hover {
  color: rgb(202, 202, 202);
}

#driversContainer {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#driverImg {
  width: 50%;
}

#titlesContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

#leftContainer {
  height: 100%;
  width: 70%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
}

#titles {
  width: 100%;
  padding: 1.5rem;
  background-color: #0820324f;
  backdrop-filter: blur(5px);
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  align-items: center;
}

#mainTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;

  & img {
    border-radius: 2px;
  }
}

#helmetImg {
  width: 200px;
  height: fit-content;
}

#infoList {
  grid-column: 1/3;
  padding-top: 1rem;
  padding-left: 0px;
  margin: 0;
  font-size: 17px;
  text-align: center;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
}

#infoTitle {
  font-weight: bolder;

  & p {
    & img {
      background-color: white;
      border-radius: 5px;
    }
  }
}

#infoDesc {
  font-weight: 100;
}

#rightContainer {
  width: 100vw;
  height: 100vh;
}

@media screen and (width <= 960px) {
  #backButton {
    margin-top: 5rem;
    margin-left: 5rem;
    font-size: 100px;
  }

  #driversContainer {
    flex-direction: column;
    justify-content: start;
  }

  #leftContainer {
    width: 100%;
  }

  #mainTitle {
    font-size: 75px;

    & img {
      width: 10%;
    }
  }

  #helmetImg {
    width: 300px;
  }

  #nameTitle {
    font-size: 75px;
  }

  #driverImg {
    width: 100%;
  }

  #contentContainer {
    flex-direction: column;
  }

  #infoContainer {
    width: 100vw;
  }

  #infoList {
    flex-wrap: wrap;
  }

  #infoTitle {
    font-size: 30px;
  }
  
  #infoDesc {
    font-weight: 100;
  }

}