#driversContainer {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
}

#drivers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    text-decoration: none !important;
    margin-top: .5rem;
    margin-right: .5rem;
    background-color: #181a3b;
    color: white;
    border: 0px;
    transition: border ease 0.1s;
}

.card:hover {
    background-color: #161836;
}

#position {
    font-weight: bolder;
    font-size: xx-large;
    color: #e2d54e;
    width: 15px !important;
    /* background-image: url("../../public/icons/goal-flag.jpg"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}